.cotalog{
    padding-top: 100px;
    width: 100%;
    display: grid;
    margin-top: 30px;
    column-gap: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    grid-template: auto auto auto auto auto/auto auto auto auto auto;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}